/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Your code starts here! */

.inline{
	display: flex;
  flex-wrap: nowrap;
}
.container {
	width: 876px;
	margin: auto;
	/* border: 1px solid red; */
}

.container header nav {
	display: inline-flex;
	margin: 0 0;
	
}

.container header nav a{
  margin: 0 20px;
  color: gray;
  text-decoration: none;
}

.logo {
	margin-left:  60px;
}

.container h1 {
	font-size: 80px;
    text-align: center
}

.inline div {
	margin: 115px 70px;
}


.inline a{
	padding: 0 40px;
	margin-left:80px;
	color: black;
	text-decoration: none;
	border: 1px solid black;
	font-size: 18px;
	text-align: center; 
}
.inline img {
	margin:70px 0;
}

.colum{
	width: 320px;
	padding: 0;
	margin: 20px 50px;

}
.inlineblock{
border-top:2px solid black;
padding: 20px 0;
}

.inlineblock div{
	display: inline-block;
}